* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/* Correct selecttor to match with html element semantic layout*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* Correct selecttor to match with html element semantic layout*/
header h1 {
    display: inline-block;
    font-size: 48px;
}
/* Correct selecttor to match with html element semantic layout*/
header h1 .seo {
    color: #d9dcd6;
}
/* Correct selecttor to match with html element semantic layout*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* Correct selecttor to match with html element semantic layout*/
header nav ul {
    list-style-type: none;
}
/* Correct selecttor to match with html element semantic layout*/
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Correct selecttor to match with html element semantic layout*/
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*  Moved the Benefits to above the Footer, match with HTML Layout */
/*  REDUNDANT: Removed two identical rule and replace the class selector with "main section"*/
main section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*REDUNDANT: Same for the images and h2 in these sections, shorten code. */
main section img {
    max-height: 200px;
}

main section h2 {
    margin-bottom: 20px;
    font-size: 36px;
    position: relative;
}
/* Changes .benefits to aside */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* Group all the sections since they have the same style rule*/
aside section {
    margin-bottom: 32px;
    color: #ffffff;
}
/* Group all the h3 since they have the same style */
aside section h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* Group all img style */
aside section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* Correct selector to match with html layout */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* Correct selector to match with html layout */
footer h2 {
    font-size: 20px;
}
